<% if @response == false %>
  <%= 'Проверьте адрес репозитория' %> <br>
  <%= 'Либо если адрес введен верно, но выдается эта ошибка, перейдите по ссылке' %> <br>
  <%= 'для кеширования выдачи серверами github, и попробуйте ещё раз' %> <br>
  <%= link_to "github api", "https://api.github.com/repos/#{@owner}/#{@repo}/stats/contributors", :target => "_blank" %>
<% elsif !@response.blank?  %>
  <p>Самые активные контрибьюторы: </p>
  <% @response.each do |author| %>
    <%= author[:name] + ': ' + author[:total_commits].to_s + ' коммитов ' %>
    <%= button_to 'Скачать диплом', action: 'generate_award',
                                    method: :post,
                                    name: author[:name],
                                    total_commits: author[:total_commits],
                                    repo_name: author[:repo_name],
                                    order: author[:order],
                                    remote: true %>
    <br>
  <% end %>
<% end %>
